<!-- This is fake file, you need to set a google-services.json if you want to use firebase -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1111111111-1111111111111111111.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1111111111-1111111111111111111</string>
	<key>API_KEY</key>
	<string>abcdefghijklmnopqrstuvwxyz1234</string>
	<key>GCM_SENDER_ID</key>
	<string>11111111111111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.aakira.Napier</string>
	<key>PROJECT_ID</key>
	<string>napier-1111111</string>
	<key>STORAGE_BUCKET</key>
	<string>napier-1111111.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1111111111111:ios:abcdefg111111111</string>
	<key>DATABASE_URL</key>
	<string>https://napier-1111111.firebaseio.com</string>
</dict>
</plist>