<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072620373207-89solc0vol23brafmaho0nnbc9bvucdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072620373207-89solc0vol23brafmaho0nnbc9bvucdr</string>
	<key>API_KEY</key>
	<string>AIzaSyA5PEay6wuq7bQu7HFEl4nspIT1rg2YsdY</string>
	<key>GCM_SENDER_ID</key>
	<string>1072620373207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.aakira.napier.sample</string>
	<key>PROJECT_ID</key>
	<string>napier-82786</string>
	<key>STORAGE_BUCKET</key>
	<string>napier-82786.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072620373207:ios:4ad674a7f2a06989481c92</string>
	<key>DATABASE_URL</key>
	<string>https://napier-82786.firebaseio.com</string>
</dict>
</plist>